@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

nav {
    height: 300px;
    background: url('https://reapchain.com/assets/img/sub_visual.jpg') no-repeat center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

div .container-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

nav .logo {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    z-index: 3;
}

nav div.heading {
    color: white;
    font-weight: 500;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5vh;
    width: 100%;
    text-align: center;

    bottom: 100px;
    font-size: 50px;
    line-height: 32px;
}

nav .logo, nav ul, nav .menu-btn i {
    padding: 20px;
    font-size: 30px;
}

nav ul li {
    margin: 0 5px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b;
    background: #fff;
}

nav .menu-btn i { 
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}



/**


General styles media queries


 */

@media (max-width: 940px){
    nav .menu-btn i{
        display: block;
    }
    
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;
    }
}

@media (max-width: 767px) {
    nav {
        height: 160px;
    }

    nav div.heading {
        bottom: 50px;
        font-size: 33px;
        line-height: 32px;
    }
}

@media (max-width: 575px){
    nav {
        height: 160px;
    }

    nav .logo, nav ul, nav .menu-btn i {
        padding: 20px;
        font-size: 20px;
    }


    nav div.heading {
        bottom: 40px;
        font-size: 30px;
        line-height: 32px;
    }
}


/**


 team.html styles 


 */

.core-members-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.core-members {
    position: relative;
    width: calc(33.3% - 40px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.core-members img {
    max-height: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.core-members h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #222;
    margin: 40px 0 10px;
}

.core-members h4 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #838383;
    margin-bottom: 30px;
}

.container h2.core-heading {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 80px;
    color: #112c58;
}

.core-members {
    max-width: 200px;
}

@media (max-width: 1199px) {
    .core-members .team-img {
        position: relative;
        display: block;
        cursor: pointer;
        pointer-events: auto;
    }

    .core-members img {
        max-height: 200px;
    }

    .core-members h3 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #222;
        margin: 40px 0 10px;
    }

    .core-members h4 {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: #838383;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .core-members {
        min-width: 145px;
        margin: 0 10px;
    }

    .core-members img {
        max-height: 200px;
    }

    .core-members h3 {
        font-size: 14px;
        line-height: 20px;
        margin: 30px 0 5px;
    }

    .core-members h4 {
        font-size: 13px;
        color: #838383;
        margin-bottom: 20px;
    }

    .container h2.core-heading {
        font-size: 25px;
        margin: 30px;
    }
    
}

@media (max-width: 575px){   
    .container h2.core-heading {
        font-size: 21px;
        margin-bottom: 40px;
    }

    .core-members {
        min-width: 110px;
        margin: 0 20px;
    }

    .core-members img {
        max-height: 150px;
    }

    .core-members h3 {
        margin: 10px 0 5px 0;
    }
}
