@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
    --lightWhite: #fafafa;
    --h3Color: #282828;
    --spanColor: #767879;
    --paragraphColor: #666;
    --lightDark: rgb(239, 239, 239);
    --iconColor: rgb(87, 57, 187);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

nav {
    height: 300px;
    background: url('./images/sub_visual.jpg') no-repeat center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

div .container-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

nav .logo {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    z-index: 3;
}

nav div.heading {
    color: white;
    font-weight: 500;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5vh;
    width: 100%;
    text-align: center;

    bottom: 100px;
    font-size: 50px;
    line-height: 32px;
}

nav .logo, nav ul, nav .menu-btn i {
    padding: 20px;
    font-size: 30px;
}

nav ul li {
    margin: 0 5px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b;
    background: #fff;
}

nav .menu-btn i { 
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

.btn {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline:0;
}

/**


General styles media queries


 */

@media (max-width: 940px){
    nav .menu-btn i{
        display: block;
    }
    
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;
    }
}

@media (max-width: 767px) {
    nav {
        height: 160px;
    }

    nav div.heading {
        bottom: 50px;
        font-size: 33px;
        line-height: 32px;
    }
}

@media (max-width: 575px){
    nav {
        height: 160px;
    }

    nav .logo, nav ul, nav .menu-btn i {
        padding: 20px;
        font-size: 20px;
    }


    nav div.heading {
        bottom: 40px;
        font-size: 30px;
        line-height: 32px;
    }
}


/**


 team.html styles 


 */

.core-members-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.core-members {
    position: relative;
    width: calc(33.3% - 40px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px 60px;
}

.core-members img {
    max-height: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.3s ease;
}

.core-members img:hover {
    transform: scale(1.1);
}

.core-members h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #222;
    margin: 40px 0 10px;
}

.core-members h4 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #838383;
    margin-bottom: 30px;
}

.container h2.core-heading {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 80px;
    color: #112c58;
}

.core-members ul.core-members-career li {
    position: relative;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    color: var(--paragraphColor);
    word-break: keep-all;
    padding-left: 10px;
    margin-bottom: 10px;
}

.core-members ul.core-members-career li:before {
    position: absolute;
    top: 8px;
    left: -6px;
    display: block;
    width: 3px;
    height: 3px;
    content: "";
    border-radius: 50%;
    background: #666;
}

@media (max-width: 1199px) {
    .core-members {
        max-width: 200px;
    }

    .core-members .team-img {
        position: relative;
        display: block;
        cursor: pointer;
        pointer-events: auto;
    }

    .core-members img {
        max-height: 200px;
    }

    .core-members h3 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #222;
        margin: 40px 0 10px;
    }

    .core-members h4 {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: #838383;
        margin-bottom: 30px;
    }

    .core-members-career {
        display: none;
    }
}

@media (max-width: 767px) {
    .core-members {
        min-width: 145px;
        margin: 0 10px;
    }

    .core-members img {
        max-height: 200px;
    }

    .core-members h3 {
        font-size: 14px;
        line-height: 20px;
        margin: 30px 0 5px;
    }

    .core-members h4 {
        font-size: 13px;
        color: #838383;
        margin-bottom: 20px;
    }

    .container h2.core-heading {
        font-size: 25px;
        margin: 30px;
    }
    
}

@media (max-width: 575px){   
    .container h2.core-heading {
        font-size: 21px;
        margin-bottom: 40px;
    }

    .core-members {
        min-width: 110px;
        margin: 0 20px;
    }

    .core-members img {
        max-height: 150px;
    }

    .core-members h3 {
        margin: 10px 0 5px 0;
    }
}


/**


 popup-team.html styles 


 */

.team-popup-wrap {
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.team-popup-wrap::before{
    position: absolute;
    inset: 0;
    display: block;
    height: 100%;
    content: "";
    background: rgba(0,0,0,.7)
}

.team-popup-wrap .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    transform: translate(-50%, -50%);
}



.team-popup-wrap .popup .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--lightWhite);
}

.team-popup-wrap .popup .popup-header p {
    font-size: 20px;
    font-weight: 500;
}

.team-popup-wrap .popup .popup-header .btn-close {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
}

.team-popup-wrap .popup .popup-header .btn-close::before,
.team-popup-wrap .popup .popup-header .btn-close::after {
    position: absolute;
    top: 9px;
    display: block;
    width: 20px;
    height: 2px;
    content: "";
    border-radius: 2px;
    background: #949494;
}

.team-popup-wrap .popup .popup-header .btn-close::before {
    transform: rotate(45deg);
}

.team-popup-wrap .popup .popup-header .btn-close::after {
    transform: rotate(135deg);
}

.team-popup-wrap .popup .popup-content {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    margin-top: -1px;
    padding: 30px 30px 20px;
}

.team-popup-wrap .popup .popup-content .popup-top {
    position: relative;
    display: flex;
    text-align: left;
}

.team-popup-wrap .popup .popup-content .popup-top > img {
    width: 100px;
    max-height: 100px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.team-popup-wrap .popup .popup-content .popup-top .team-content {
    width: calc(100% - 100px);
    padding: 0 0 0 15px;
    text-align: left;
}

.team-popup-wrap .popup .popup-content .popup-top .team-content p {
    color: var(--h3Color);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 5px;
}

.team-popup-wrap .popup .popup-content .popup-top .team-content span {
    color: var(--spanColor);
    font-size: 14px;
    font-weight: 400;
    font-size: 18px;
}

.team-popup-wrap .popup .popup-content .career-wrap {
    overflow: auto;
    max-height: 250px;
    margin-top: 30px;
}

.team-popup-wrap .popup .popup-content .career-wrap li {
    position: relative;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

@media (max-width: 575px) {
    .team-popup-wrap .popup {
        width: 100%;
        padding: 0 20px;
    }

    .team-popup-wrap .popup .popup-header {
        padding: 15px 20px;
    }

    .team-popup-wrap .popup .popup-header p {
        font-size: 18px;
    }

    .team-popup-wrap .popup .popup-content {
        padding: 20px 20px 15px;
    }

    .team-popup-wrap .popup .popup-content .popup-top .team-content p {
        font-size: 16px
    }

    .team-popup-wrap .popup .popup-content .popup-top .team-content span {
        font-size: 13px
    }
}


/**

courses

*/

.courses-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
}

.courses-wrapper .course {
    max-width: 330px;
    min-width: 240px;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 0px;
    transition: all .27s ease;
    overflow: hidden;
    margin: 0 20px 30px;
}

.courses-wrapper .course:hover {
    transform: scale(1.05);
}

.courses-wrapper .course-header {
    background: var(--lightWhite);
    padding: 15px;
}


.courses-wrapper .course .course-header h3 {
    color: var(--h3Color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.courses-wrapper .course .course-header span {
    color: var(--spanColor);
    font-size: 20px;
    font-weight: normal;
}

.course .course-content {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--paragraphColor);
    word-break: keep-all;
    padding: 15px;
}

.course .course-content .summary {
    color: var(--paragraphColor);
    margin-bottom: 15px;
}

.course .course-content .extra-details {
    color: var(--paragraphColor);
}

.course .course-content ul {
    color: var(--paragraphColor);
    padding: 15px 0;
}

.course .course-content li {
    list-style-type: disc;
    margin-left: 20px;
}

#courses-container{
    max-width: 2000px;
}

@media (max-width: 767px){
    .courses-wrapper {
        margin: 30px 5px;
    }
    
    .courses-wrapper .course .course-header h3 {
        font-size: 20px;
    }
    .courses-wrapper .course .course-header p {
        font-size: 18px;
    }
    .course .course-content {
        font-size: 14px;
    }
}


/**

contact

*/

.contact-wrapper .fas {
    font-size: 30px;
    color: var(--iconColor);
}

#contact-container {
    display: flex;
    justify-content: center; 
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 50px;
    min-width: 270px;
    max-width: 1050px;
}

.contact-wrapper .contact-form {
    margin: 20px;
    min-width: 250px;
    max-width: 700px;
    flex-basis: 75%;
    flex-grow: 1;
}

.contact-wrapper .icon-wrapper {
    min-width: 150px;
    flex-basis:25%;
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-wrapper .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 150px;
    text-align: center;

    margin: 20px;
}



.contact-wrapper .icon-container .icon-content h3{
    margin: 8px 0 5px 0;
}

.contact-wrapper .icon-container .icon-content h4 {
    margin: 5px;
}



.contact-wrapper input,
.contact-wrapper textarea {
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: var(--lightDark);
}

.contact-wrapper input:focus,
.contact-wrapper textarea:focus{
    box-shadow: 0 0 2px rgb(0, 162, 255);
    border-color: rgb(187, 183, 183);
}

.contact-wrapper .icon-content h3 {
    color: var(--h3Color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact-wrapper .icon-content h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #838383;
    margin-bottom: 30px;
}

.contact-wrapper .contact-form h2 {
    margin: 5px 0;
}

.contact-wrapper .contact-form p {
    position: relative;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    color: var(--paragraphColor);
    word-break: keep-all;
    margin: 5px 0;
}

button.standard {
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background: var(--iconColor);
    color: white;
}

button.standard:hover {
    background: rgb(67, 85, 119);
}

textarea {
    resize: none;
}

@media (max-width: 575px){
    .contact-wrapper {
        margin: 20px;
    }
}











